nav
  .nav-wrapper
    a(href='/', class='brand-logo') Приложение курсов
    ul#nav-mobile.right.hide-on-med-and-down
      if isHome
        li.active
          a(href='/') Главная
      else
        li
          a(href='/') Главная

      if isCourses
        li.active
          a(href='/courses') Курсы
      else
        li
          a(href='/courses') Курсы

      if isAuth
        if isAddCourse
          li.active
            a(href='/add-course') Добавить курс
        else
          li
            a(href='/add-course') Добавить курс

        if isCard
          li.active
            a(href='/card') Корзина
        else
          li
            a(href='/card') Корзина

        if isOrder
          li.active
            a(href='/orders') Заказы
        else
          li
            a(href='/orders') Заказы

        li
          a(href='/auth/logout') Выйти
      else
        if isLogin
          li.active
            a(href='/auth/login#login') Войти
        else
          li
            a(href='/auth/login#login') Войти
